body{
    font-family: 'Roboto', sans-serif;
    background-image: url("photos/gravel.png");
}

#header{
    background-color: white;
   
}
   h1{
    background-color:  #4AAAA5; 
    
    color: white; 
    
    font-size: 1.6em; 
}  
.grey{
    color: rgb(175, 170, 170);
}

.height-adjustment{
    line-height: .3em;
}

.footer{
    
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px; 
  line-height: 60px; 
  background-color: rgb(71, 71, 71);
  

}

.border-3{
    border-width:3px !important;
    border-color: #4AAAA5 !important;
}

.aqua-color{
    color:  #4AAAA5;
    
}

h2{
    font-size: 1.2em !important;
}

.border-div{
    height: 2px;
    background-color: rgb(175, 170, 170);
    width: 100%;
}

.size-adjust{
    height: 150px;
    width: 150px;
}

.pull-left{
    float: left;
}

.lh-2em{
    line-height: 2em
}

.remove-mb{
    margin-bottom: 0 !important;
}

.padding-b-0{
    padding-bottom: 0 !important;
}

